header h1 {
color: red;
border: 2px solid red;
margin-top: 0;

}

.listHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainTodo {
    display: flex;
    /* width: 100%; */
    border: 2px solid green;
}